@font-face {
    font-family: 'PixelOperator';
    src: url('fonts/PixelOperator/PixelOperator.ttf') format('truetype');
}

:root {
    --bg-color: hsl(0, 0%, 94%);
    --card-color: white;
    --shadow-color: hsla(0, 0%, 0%, 0.4);
    --text-color: black;
    --primary-color: rgb(102, 47, 255);
    --primary-color-push: magenta;
    --primary-color-active: greenyellow;
    --primary-border-color: darkgray;
    --secondary-border-color: black;
    --button-text-color: black;
    --button-hover-text-color: white;
}

[data-theme="dark"] { /* https://css-tricks.com/dark-modes-with-css/ */
    --primary-color: greenyellow;     
    --primary-color-push: magenta;
    --primary-color-active: rgb(102, 47, 255);
    --primary-border-color: #42414d;
    --button-text-color: white;
    --button-hover-text-color: black;

    --bg-color: #1c1b22;
    --card-color: #23222b;
    --shadow-color: hsla(0, 0%, 0%, 0.4);
    --text-color: white;
}

* {
    font-family: PixelOperator;
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0px;
}

a, a:visited {
    color: var(--primary-color);
}

.header-buttons button {
    cursor: pointer;
    background-color: inherit;
    border-radius: 0px;
    font-size: 1.2rem;
    padding: 12px 10px;
    margin-left: 15px;
    border: none;
    text-align: center;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.fab,
.fa {
    color: var(--primary-color);
    font-size: 1em;
    margin-right: 15px;
    text-align: center;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    padding: 20px;
}



.card {
    transform: scale(1.3);
    width: fit-content;
    min-width: 25vw;
    max-width: 1000px;
    max-height: 600px;
    border-radius: 0px;
    border: 1px solid var(--secondary-border-color);
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 2px 3px 3px var(--shadow-color);
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px 15px 25px;
    border-bottom: 1px solid var(--primary-border-color);
}

.card-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 10px 25px;
    border-top: 1px solid var(--primary-border-color);
}

.right-side {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
}



.buttonslist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 30%;
    padding: 15px;
    border-right: 1px solid var(--primary-border-color);
}

.buttonslist button {
    background-color: inherit;
    border-radius: 0px;
    font-size: 1.2rem;
    padding: 12px 10px;
    margin-bottom: 8px;
    width: 100%;
    border: none;
    text-align: left;
    transition: 0.2s;
}

.buttonslist button:hover {
    background-color: var(--primary-color);
    color: var(--button-text-color);
}

.buttonslist button:active {
    background-color: var(--primary-color-push);
    color: var(--button-hover-text-color);
}

.buttonslist button.active {
    background-color: var(--primary-color-active);
}

.section {
    padding: 15px;
    
    
}

.widget-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(max-content, 1fr));
    gap: 5px;
    margin: -20px;
}

.widget {
    border: 1px solid var(--primary-border-color);
    padding: 5px;
}

@media (max-width: 650px) {

    .container {
        justify-content: center;
        align-items: center;
    }

    .card {
        transform: scale(0.9);

        min-width: 80vw;
    }

    .card-content {
        flex-direction: column;
    }
    .card-footer, .right-side {
        padding: 8px;
    }

    .buttonslist {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-right: none;
        border-bottom: 1px solid var(--primary-border-color);
        border-bottom-width: 1px;
        width: 100%;
        padding: 8px;
    }

    .buttonslist button {
        font-size: 1rem;
        width: 33%;
        text-align: center;
        margin: 0px 0px 0px 0px;
    }

    .card-footer {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .widget-container {
	grid-template-columns: 1fr 1fr;
}


}